openapi: 3.1.0
info:
  title: Cardsync API
  version: 0.0.1
  description: >-
    This document describes the FutureState Cardsync system API. 


    Important changes to note from previous versions:

    - Endpoint names have been changed for clarity

    - Properties have been changed to camelCase

    - Allowed "enumerated" values have been changed to lowercase

    - companyCode is now a string instead of an integer

    - cardNumber is now a string instead of an integer
servers:
  - url: https://valar.api.futurestate.cloud/cardsync
    description: Production server
paths:
#region Credential
  /credentials:
    post:
      tags:
        - Credentials
      summary: Submit a credential state
      description: |
        Submits a new credential state.

        If the request is valid,
        this operation appends a new credential event.
        
        The active credential is derived from the latest event per device type.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Credential'
      responses:
        '200':
          description: Credential successfully saved, returns the cardsync event record
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReturnCredentials'
        '400':
          description: Credential change conflicts with business rules
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '409':
          description: cardNumber already exists for another credential
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
#region Credentials
  /credentials/{companyCode}/{cardNumber}:
    get:
      tags:
        - Credentials
      summary: Retrieve credential details
      description: |
       Was **/device/{cardNumber}**

       Retrieves credential details associated with a specific companyCode/cardNumber.

      parameters:
      - name: companyCode
        in: path
        required: true
        schema:
          type: string
      - name: cardNumber
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Credential information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReturnCredential'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
                
  /credentials/{personId}:
    get:
      tags:
        - Credentials
      summary: Retrieve current credentials for a person
      description: |
        Retrieves the most recent credential for each device type associated with a person

        **Note: Should this return only 'active' credentials?**
      operationId: getCredentials
      parameters:
        - name: personId
          in: path
          required: true
          schema:
            type: string
        - name: include
          in: query
          required: false
          schema:
            type: string
            enum:
              - history
          description: When set to 'history', returns all historical credentials for the person
      responses:
        '200':
          description: List of the most recent credentials for each device type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReturnCredentials'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'

  /credentials/{personId}/all:
    get:
      tags:
        - Credentials
      summary: Retrieve all credentials for a person
      description: Retrieves all credentials associated with a person, including historical and inactive credentials
      operationId: getAllCredentials
      parameters:
        - name: personId
          in: path
          required: true
          schema:
            type: string

      responses:
        '200':
          description: List of all credentials associated with the person
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReturnCredentials'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
#region Bulk
  /credentials/byCardNumbers:
    post:
      tags:
        - Credentials
      summary: Retrieve credential information for multiple card numbers
      description: Returns detailed credential information for multiple card numbers in a single request
      operationId: getCredentialBulk
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                cardNumbers:
                  type: array
                  items:
                    type: string
      responses:
        '200':
          description: Credential information for requested card numbers
          content:
            application/json:
              schema:
                type: object

  /credentials/byPersonIds:
    post:
      tags:
        - Credentials
      summary: Retrieve credential information for multiple people        
      description: |
        Returns credential information consolidated by person ID for multiple people

        **Note: Should this be consolidated with the single GET?**
      operationId: getCredentialByPersonId
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                personIds:
                  type: array
                  items:
                    type: string
      responses:
        '200':
          description: Credential information by person ID
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    personId:
                      type: string
                    physical:
                      type: string
                    phone:
                      type: string
                    watch:
                      type: string
                    wallet:
                      type: string
#region Downstream
  /credentials/downstreamOnly:
    post:
      tags:
        - Credentials
      summary: Send credential events to downstream systems only
      description: Sends credential events directly to downstream systems without storing in CardSync
      operationId: credentialEventDownstreamOnly
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Credential'
      responses:
        '200':
          description: Events sent to downstream systems successfully
          content:
            application/json:
              schema:
                type: object
#region Update
  /credential/updateStatus:
    post:
      tags:
        - Credentials
      summary: Update the status of a credential
      description: |
        Was **/credentials/update**
        
        Updates the status on the most recent credential for a person's specified device type

        **Note: The only reason to have this, instead of using POST /credential, is to have a simpler request body.**
        
        **If this is kept, should this work off of cardNumber instead?**
            
      operationId: updateCredential
      requestBody:
        required: true
        description: Credential update data including personId, status, and device type
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExistingCredentialUpdate'
      responses:
        '200':
          description: Credential successfully updated
          content:
            application/json:
              schema:
                type: object
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'

#region Replay
  /credential/replayEvent:
    post:
      tags:
        - Credentials
      summary: Replay CardSync Events to downstream systems
      description: |
        Resends one or more credential records to configured downstream systems

        **Comment: How should this handle one vs all systems?**
      operationId: replayCredentials
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/ReplayRequestBodyIds'
                - $ref: '#/components/schemas/ReplayRequestBodyIdsRange'
                - $ref: '#/components/schemas/ReplayRequestBodyDates'
      responses:
        '200':
          description: Replay successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/ReplayStatus'
                  message:
                    type: string
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
                  
#region Mealplan
  /mealplan/{personId}:
    get:
      tags:
        - Mealplan
      summary: Retrieve mealplan account balances for a person
      description: |
        Retrieves all mealplan account balances associated with a person.   

        **Note: Does this stay in cardsync??**     
      operationId: getMealplan
      parameters:
        - name: personId
          in: path
          required: true
          schema:
            type: string

      responses:
        '200':
          description: Mealplan account balances
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MealplanAccounts'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
#region Photo
  /mobilephoto/{personId}:
    get:
      tags:
        - Photo
      description: Retrieves a person's photo optimized for mobile device display
      operationId: getMobilePhoto
      parameters:
        - name: personId
          in: path
          required: true
          schema:
            type: string
            pattern: '^[0-9]{8}$'
      responses:
        '200':
          description: Photo data
          content:
            application/json:
              schema:
                type: object
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'

  /photo/has-photo/{personId}:
    get:
      tags:
        - Photo
      summary: Check if a photo exists for a person
      description: Checks whether a photo is on file for a person
      operationId: hasPhoto
      parameters:
        - name: personId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Photo existence status
          content:
            application/json:
              schema:
                type: object
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'

  /photo/resolution/{personId}:
    get:
      tags:
        - Photo
      summary: Retrieve photo resolution for a person
      description: Retrieves the resolution dimensions of a person's original photo
      operationId: getPhotoResolution
      parameters:
        - name: personId
          in: path
          required: true
          schema:
            type: string
            pattern: '^[0-9]{8}$'
      responses:
        '200':
          description: Photo resolution data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PhotoResolution'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'

  /photos/resolutions:
    post:
      tags:
        - Photo
      summary: Retrieve photo resolutions for multiple people
      description: Retrieves photo resolution dimensions for multiple people in a single request
      operationId: getPhotosResolutions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
      responses:
        '200':
          description: Photo resolutions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultipleResolutions'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'

#region Health
  /health:
    get:
      tags:
        - Health
      summary: Check API health status
      description: Confirms the API is operational and responding to requests
      operationId: healthCheck
      responses:
        '200':
          description: API is healthy
          content:
            application/json:
              schema:
                type: object
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
#region Provisioning
  /provision/eligible:
    post:
      tags:
        - Provisioning
      summary: Set provisioning eligibility for a person
      description: Sets provision eligibility to true, sends mealplan balances and photo data to the mobile provider
      operationId: setProvisionEligible
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                personId:
                  type: string
                provisionEligible:
                  type: boolean
      responses:
        '200':
          description: Provisioning eligibility set successfully
          content:
            application/json:
              schema:
                type: object

  /provision/eligible/status:
    post:
      tags:
        - Provisioning
      summary: Check provisioning eligibility status for a person
      description: Retrieves the current provisioning eligibility status for a person
      operationId: statusOfProvisionEligibility
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                personId:
                  type: string
      responses:
        '200':
          description: Provisioning eligibility status
          content:
            application/json:
              schema:
                type: object
                properties:
                  personId:
                    type: string
                  provisionEligible:
                    type: boolean

  /provision/eligible/check:
    post:
      tags:
        - Provisioning
      summary: Check provisioning eligibility for multiple people
      description: Retrieves provisioning eligibility status for multiple people in a single request
      operationId: checkProvisionEligible
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                personIds:
                  type: array
                  items:
                    type: string
      responses:
        '200':
          description: List of provisioning eligibility statuses
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    personId:
                      type: string
                    provisionEligible:
                      type: boolean
                    notFound:
                      type: boolean
#region AllowedSwitch
  /allowedSwitches:
    post:
      tags:
        - Provisioning
      summary: Set allowed credential switches for a person
      description: |
        Sets the number of allowed credential switches for a person

        **Note: This is not being used by CardPulse, do we need this?**
      operationId: setAllowedSwitches
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                personId:
                  type: string
                allowedSwitches:
                  type: integer
      responses:
        '200':
          description: Allowed switches set successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  allowedSwitches:
                    type: integer
                  lastUpdated:
                    type: string
                    format: date-time
                  personId:
                    type: string
#region Events
  /events:
    get:
      tags:
        - Events
      summary: Retrieve CardSync events
      description: Retrieves credential events with optional filtering by date range, person ID, and limit
      operationId: getEvents
      parameters:
        - name: start
          in: query
          description: Start date for filtering events (format YYYY-MM-DDTHH:MM:SSZ)
          schema:
            type: string
            format: date-time
        - name: end
          in: query
          description: End date for filtering events (format YYYY-MM-DDTHH:MM:SSZ)
          schema:
            type: string
            format: date-time
        - name: sort
          in: query
          description: Sort order (ascending if provided, descending by default)
          schema:
            type: string
        - name: limit
          in: query
          description: Maximum number of events to return (0 for no limit)
          schema:
            type: integer
            default: 0
        - name: personId
          in: query
          description: Filter events by person ID
          schema:
            type: string
      responses:
        '200':
          description: List of credential events
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object

#region Bursar
  /bursar/paymentRequired/{personId}:
    get:
      tags:
        - Billing
      summary: Check if payment is required for a person
      description: Determines if payment is required for mobile or physical card provisioning
      operationId: isPaymentRequired
      parameters:
        - name: personId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Payment requirement status
          content:
            application/json:
              schema:
                type: object
                properties:
                  isPaymentRequiredMobile:
                    type: boolean
                  isPaymentRequiredPhysical:
                    type: boolean
                  primaryAffiliation:
                    type: string
                  bursarStatus:
                    type: string
                  multicredentialMember:
                    type: boolean

  /bursar/agreement:
    post:
      tags:
        - Billing
      summary: Initiate bursar agreement process
      description: Creates a mobile billing record and sets bursar status to pending
      operationId: setBursarAgreement
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                personId:
                  type: string
      responses:
        '200':
          description: Bursar agreement process initiated successfully
          content:
            application/json:
              schema:
                type: object

  /bursar/agreement/expired:
    patch:
      tags:
        - Billing
      summary: Sets bursar agreements to status = expired
      description: Updates bursar agreements in pending state that are over 24 hours old to expired status
      operationId: setBursarAgreementExpired
      responses:
        '200':
          description: Old bursar agreements updated to expired
          content:
            application/json:
              schema:
                type: object

  /bursar/billings:
    get:
      tags:
        - Billing
      summary: Retrieve completed bursar billings
      description: Returns all mobile billing records with completed bursar status
      operationId: getBursarBillings
      responses:
        '200':
          description: List of completed bursar billings
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    personId:
                      type: string
                    bursarStatus:
                      type: string
                    issuance:
                      type: string
    patch:
      tags:
        - Billing
      summary: Update bursar billings to billed status
      description: Updates mobile billing records from completed status to billed status for provided IDs
      operationId: setBursarBillings
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: integer
      responses:
        '200':
          description: Billing records updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '404':
          description: Billing records not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
#region Person
  /person/{cardNumber}:
    get:
      tags:
        - Person
      summary: Retrieve person information by card number
      description: Returns basic person information based on a card number
      operationId: getPersonByCardNumber
      parameters:
        - name: cardNumber
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Person information
          content:
            application/json:
              schema:
                type: object
                properties:
                  personId:
                    type: string
                  firstName:
                    type: string
                  lastName:
                    type: string
                  netId:
                    type: string
                  email:
                    type: string
                  primaryAffiliation:
                    type: string



components:
  schemas:
    Credential:
      type: object
      required:
        - personId
        - firstName
        - lastName
        - status
        - cardNumber
        - credentialId
        - companyCode
        - deviceType
        - walletType
        - source
      properties:
        personId:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        status:
          $ref: '#/components/schemas/CredentialStatus'
        cardNumber:
          type: string
          description: Unique card number identifier
        credentialId:
          anyOf:
            - type: string
              format: uuid
            - type: "null"
        companyCode:
          type: string
          description: Company code identifier
        deviceType:
          $ref: '#/components/schemas/DeviceType'
        walletType:
          $ref: '#/components/schemas/WalletType'
        source:
          $ref: '#/components/schemas/CredentialSource'

    ReturnCredential:
      type: object
      properties:
        personId:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        status:
          $ref: '#/components/schemas/CredentialStatus'
        cardNumber:
          type: integer
        credentialId:
          type: string
          format: uuid
        companyCode:
          type: string
        deviceType:
          $ref: '#/components/schemas/DeviceType'
        walletType:
          $ref: '#/components/schemas/WalletType'
        source:
          $ref: '#/components/schemas/CredentialSource'
        createdAt:
          type: string
          format: date-time
        eventId:
          type: integer
        isInitial:
          type: boolean
        multicredentialAllowed:
          type: boolean

    ReturnCredentials:
      type: object
      properties:
        credentials:
          type: array
          items:
            $ref: '#/components/schemas/ReturnCredential'

    ExistingCredentialUpdate:
      type: object
      description: Request body for updating an existing credential
      properties:
        personId:
          type: string
        status:
          $ref: '#/components/schemas/CredentialStatus'
        deviceType:
          $ref: '#/components/schemas/DeviceType'

    ReplayRequestBodyDates:
      type: object
      description: Request body for replay operation with date range
      properties:
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
        destination:
          $ref: '#/components/schemas/BoomiDestination'

    CredentialStatus:
      type: string
      enum:
        - user-suspended
        - suspended (should be admin-suspended?)
        - unlinked
        - active

    DeviceType:
      type: string
      enum:
        - iphone
        - android
        - apple watch
        - physical

    WalletType:
      type: string
      enum:
        - apple
        - google
        - physical

    CredentialSource:
      type: string
      enum:
        - selfservice
        - atrium
        - swift
        - cardsync
        - ops
    BoomiDestination:
      type: string
      enum:
        - sa-external-sys
        - starrez
        - swift
        - transact
        - atrium

    ReplayRequestBodyIds:
      type: object
      description: Request body for replay operation with specific change IDs
      properties:
        eventIds:
          type: array
          items:
            type: integer
          default: []
        destination:
          oneOf:
            - type: array
              items:
                $ref: '#/components/schemas/BoomiDestination'
            - type: "null"

    ReplayRequestBodyIdsRange:
      type: object
      description: Request body for replay operation with eventId range
      properties:
        startEventId:
          type: integer
        endEventId:
          type: integer
        destination:
          oneOf:
            - type: array
              items:
                $ref: '#/components/schemas/BoomiDestination'
            - type: "null"

    ReplayStatus:
      type: string
      enum:
        - pending
        - running
        - completed
        - failed

    ReturnDevice:
      type: object
      properties:
        cardNumber:
          type: string
        deviceType:
          $ref: '#/components/schemas/DeviceType'
        status:
          $ref: '#/components/schemas/CredentialStatus'
        personId:
          type: string

    PhotoResolution:
      type: object
      properties:
        personId:
          type: string
        width:
          type: integer
        height:
          type: integer

    MultipleResolutions:
      type: object
      properties:
        resolutions:
          type: array
          items:
            $ref: '#/components/schemas/PhotoResolution'

    Balance:
      type: object
      properties:
        accountName:
          type: string
        balance:
          type: string
        personId:
          type: string
        currencyCode:
          type: string
        exponent:
          type: integer
        lastUpdated:
          type: string
          format: date-time
        type:
          type: string
          enum:
            - storedBalance
            - swipe

    BalanceAccountNames:
      type: string
      enum:
        - CatCash
        - Dining Dollars
        - Flex Dollars

    CurrencyCode:
      type: string
      enum:
        - USD

    MealplanAccounts:
      type: object
      properties:
        accounts:
          type: array
          items:
            $ref: '#/components/schemas/Balance'

    Swipe:
      type: object
      properties:
        accountName:
          type: string
        remainingSwipes:
          type: integer
        personId:
          type: string
          pattern: '^[0-9]{8}$'
        lastUpdated:
          type: string
          format: date-time

    SwipeAccountNames:
      type: string
      enum:
        - Meal Plan

    HTTPValidationError:
      type: object
      properties:
        detail:
          type: array
          items:
            $ref: '#/components/schemas/ValidationError'

    ValidationError:
      description: >
        NOTE: The exact format of this error response is TBD.
        The final structure may change in future versions.
      type: object
      required:
        - title
        - status
        - errors
      properties:
        note: 
          type: string
          description: note
          example: "The exact format of this error response is TBD."
        type:
          type: string
          description: A URI reference that identifies the problem type (RFC 7807)
          example: "https://tools.ietf.org/html/rfc7231#section-6.5.1"
        title:
          type: string
          description: Short, human-readable summary of the problem
          example: "One or more validation errors occurred."
        status:
          type: integer
          description: HTTP status code
          example: 400
        detail:
          type: string
          description: Optional detailed human-readable explanation
          example: "See the errors property for details."
        instance:
          type: string
          description: URI of the request instance that caused the error
          example: "/credential"
        errors:
          type: object
          description: Field-specific validation errors
          additionalProperties:
            type: array
            items:
              type: string
            example:
              - "The PersonId field is required."


  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: API key required for all operations

security:
  - ApiKeyAuth: []
